/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 28 may. 2021, 23:17:37
    Author     : jp015
*/

#Btn_back:hover
{
    -fx-background-color: #0c1943;
}
#root2
{
    -fx-background-radius: 120;
    -fx-background-color: #9cdeff;
}
#Txf_user
{
    -fx-text-fill: #00000e;
}
#Btn_register
{
    -fx-background-radius: 20;
    -fx-background-color: #3333ff;
}
#Btn_register:hover
{
   -fx-background-color: #ba52ff;
}