/*
 * Empty Stylesheet file.
 */


#Btn_salir
{
    -fx-background-color: #333333;
    -fx-border-radius: 15px;
    -fx-effect: dropshadow(gaussian,#000000,10.0, 0.9, 0.0,3.5);
}
#Btn_play
{
    -fx-background-color: #333333;
    -fx-border-radius: 15px;
    -fx-effect: dropshadow(gaussian,#000000,10.0, 0.9, 0.0,3.5);
}
#Btn_play:hover
{
    -fx-background-color: #333333;
}

#Btn_salir:hover
{
    -fx-background-color: #333333;
}